
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #59b19e;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-weight: bold;
    margin-top: 20px;
    font-size:18px;
}

input {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #027448;
}

button {
    background: #59b19e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: inline-block;
}

button:hover {
    background: #025038;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

th {
    background: #007bff;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 500px;
    width: 100%;
}

.modal.active {
    display: block;
}

.modal h3 {
    margin-top: 0;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.modal-buttons button {
    width: auto;
    padding: 10px 20px;
    margin-left: 10px;
}

.close {
    background: red;
}
.close:hover{
    background-color: rgb(187, 0, 0);
}
.confirm {
    background: green;
}
.confirm:hover{
    background: rgb(63, 194, 63);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

.step-list {
    margin-top: 20px;
}

.step-list ul {
    list-style: none;
    padding: 0;
}

.step-list li {
    background: #f0f2f5;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-list li span {
    font-weight: bold;
}